@model WebApplication.Models.ProductDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detail Product";
}

<div class="clearfix">
    @Html.ActionLink("Back Previous", "Index", null, new { @class = "btn btn-info" })
</div>

<h2>Product Detail</h2>

<div class="row">
    <div class="col-xs-12">
        <div>
            <h4>@Html.DisplayFor(model => model.Products) - @Html.DisplayFor(modelItem => modelItem.Products) €</h4>
            <hr />
        </div>

    </div>
</div>   